.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255 255 255 / 1%);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100vw;
  height: 96px;
  z-index: 2;
  padding: 1.5rem 2rem;

  @media (max-width: 1023px) {
    height: 156px;
    align-items: flex-start;
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}

p {
  margin: 0;
}

.name {
  font-size: clamp(1rem, 1.125rem, 1.125rem);
  font-weight: 900;
  line-height: 1.33;
  font-family: Thunder, sans-serif;
  color: var(--text-color);
}

.social {
  display: flex;
  height: 18px;
  align-items: center;
  gap: clamp(0.5rem, 0.625rem, 0.625rem);

  a,
  svg {
    height: 18px;
  }

  svg {
    stroke: var(--text-color);
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.floating-indicator {
  position: absolute;
  width: var(--nav-item-width, 112px);
  height: 44px;
  border-radius: 230px;
  background-color: var(--indicator-color);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  @media (max-width: 480px) {
    --nav-item-width: 80px;
  }
}

.nav-item {
  color: var(--bg-color);
  transition: color 0.3s ease;

  &.active,
  &.active:hover {
    color: var(--text-color);
  }
}

.navbar {
  display: flex;
  padding: 4px;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 56px;
  background-color: #fff;
  box-shadow: 0 10px 10px -5px rgb(0 0 0 / 10%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;

  @media (max-width: 1023px) {
    top: calc(100% - 1rem);
    transform: translate(-50%, calc(-100% - 1rem));
  }

  .nav-item {
    display: flex;
    width: var(--nav-item-width, 112px);
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 230px;
    z-index: 1;
    cursor: pointer;

    @media (max-width: 480px) {
      --nav-item-width: 80px;
      padding: 12px 16px;
    }
  }

  a {
    font-size: clamp(0.8125rem, 0.875rem, 1rem);
    font-weight: 500;
    line-height: 1.25;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
  }
}

.tooltip {
  width: max-content;
  background-color: var(--text-color);
  color: var(--bg-color);
  font-weight: 500;
  text-align: center;
  padding: 5px 8px;
  border-radius: 6px;
  font-size: clamp(0.625rem, 0.75rem, 0.75rem);
  position: absolute;
  top: -35px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;

  &::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--text-color) transparent transparent transparent;
  }
}

.social a {
  position: relative;

  &:hover .tooltip {
    opacity: 1;
  }
}
