<!--<app-spinner id="spinner" [style.opacity]="loading ? '1' : '0'" style="transition: all 0.5s ease-in-out;">-->
<!--</app-spinner>-->

<ng-container [style.opacity]="!loading ? '1' : '0'" style="transition: all 0.5s ease-in-out;">
  <app-header (theme)="setTheme()" [x]="x"></app-header>
  <div class="main-block">
    <div class="home">
      <div class="hi-container">
        <p class="hi">Hi, I’m Anastasiia</p>
        <p class="sub-hi">Front-End Developer</p>
      </div>
      <div class="right-container">
        <video *ngIf="!darkMode" class="emoji" id="lightEmoji" autoplay muted="muted" loop playsInline>
          <source src="./assets/images/memoji_modified.mp4" type="video/mp4">
        </video>
        <video *ngIf="darkMode" class="emoji dark-emoji" id="darkEmoji" autoplay muted="muted" loop playsInline>
          <source src="./assets/images/dark_memoji_modified.mp4" type="video/mp4">
        </video>
        <div class="location-block d-flex flex-column align-items-center">
          <p class="based">
            <img src="./assets/images/Round%20Pushpin.svg" alt="pushpin">
            &nbsp;based in <span>&nbsp;Charlotte, NC</span>
          </p>
          <p class="originally">
            originally from <span>&nbsp;Kyiv, Ukraine&nbsp;</span>
            <img src="./assets/images/Flag%20Ukraine.svg" alt="flag ukraine">
          </p>
        </div>
      </div>
    </div>

    <div id="about" class="about">
      <div class="sliding-block">
        <div class="slide-track">
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
          <p class="about-heading"><span>I am a</span> passionate creator <span>with a</span></p>
        </div>
      </div>
      <div class="sliding-block">
        <div class="slide-track slide-track2">
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
          <p class="about-heading about-heading2">Bachelor's degree in Computer Science</p>
        </div>
      </div>

      <p class="text-center mt-5 about-text">
        I develop dynamic and user-friendly web applications and pay special attention to creating visually appealing
        websites.
        With a <span class="yellow-stroke">meticulous eye</span> for detail, I focus on every
        pixel to create a <span class="yellow-stroke">eye-catching app</span>
        that delivers an exceptional web experience.
      </p>
      <p class="text-justify about-text about-undertext">
        During my university journey, I gained some experience in various programming languages such as C/C++, Python,
        Java, JavaScript, also HTML and CSS. As an intern, I maintained old projects and scaled up the functionality of
        the new complex platform. Despite the challenges, I quickly adapted to the new environment, learned fast,
        processed a lot of new info everyday and overall I grew a lot thanks to the projects I worked on and my
        colleagues who were always helpful. But balancing work and studying was tough in my fourth year education.
        Still, I created
        the Taskery app for my final university project. Now, with my bachelor's degree, I am eager to get back to large
        projects and teamwork, using my skills and knowledge.
        <br>
        Any task, especially an interesting one, is very addictive to me, and I can't part with my laptop and thoughts
        about it until I achieve what I need. To cope with this, I force myself to be distracted or use my app
        <a (click)="navigateTo('vidlik')" style="font-weight: 900; text-decoration: underline;">VIDLIK</a>
        for tracking focus time. When I'm not at my laptop, I walk my puppy, hang out
        with friends and family, go to the gym, take photos with my iPhone, cook, and
        relax outside with a cup of espresso, paint with acrylics when I'm in that special meditative mood, and many
        other things to balance my life.
      </p>
    </div>

    <div id="projects" class="project-list">
      <app-project [title]="'VIDLIK'"
                   [nav]="'vidlik'"
                   [techList]="['Angular', 'Typescript', 'Node.js', 'MongoDB', 'SCSS']"
                   [undertext]="'Time tracking app with a to-do list'"
                   [description]="'This web app is a registration-free productivity tool! Use the Pomodoro technique to stay focused, prevent burnout and improve your work-life balance'"
                   [src]="'vidlik_mac.png'">
      </app-project>
      <app-project [title]="'QiQi'"
                   [nav]="'qiqi'"
                   [techList]="['React', 'Javascript', 'SCSS']"
                   [undertext]="'Professional Haircare Products store'"
                   [description]="'The QiQi Haircare Store is more than a website; it is a digital space that reflects the excellence of QiQi salon-grade haircare products, emphasizing the unique fusion of nature and science'"
                   [src]="'qiqi_mac.png'">
      </app-project>
      <app-project [title]="'Taskery'"
                   [nav]="'taskery'"
                   [techList]="['Angular', 'Typescript', 'Node.js', 'MongoDB', 'SCSS']"
                   [undertext]="'Project management platform'"
                   [description]="'This web app is a user-friendly project management tool that allows you to easily plan, execute and monitor tasks and projects in English and Ukrainian'"
                   [src]="'taskery_mac.png'">
      </app-project>
      <app-project [title]="'Yuliana Dementyeva'"
                   [nav]="'yulianadementyeva'"
                   [techList]="['Angular', 'Typescript', 'SCSS']"
                   [undertext]="'Portfolio for Ukrainian top model'"
                   [description]="'A professional portfolio website for a Ukrainian supermodel that show an outstanding career, engaging personality and unique style of a leading figure in the industry'"
                   [src]="'yuliana_ipad.png'">
      </app-project>
    </div>

    <div id="contact" class="contact p-5">
      <p class="contact-title mt-2">Get in touch</p>
      <p class="contact-cv">View my <a
        href="https://drive.google.com/file/d/1OtajgTRQroAU_tjLV_L76L2tdH0seTKv/view?usp=sharing"
        target="_blank"><u>CV</u></a></p>
      <div class="contact-container d-flex justify-content-around align-items-center">
        <div class="contact-image">
          <img src="./assets/images/color%20radians.svg" alt="color radians" id="pointer" class="color-block">
          <img src="./assets/images/f96b99d56c1652f1050f9acd924e18d7-sticker.png" alt="contact-emoji"
               class="contact-emoji">
        </div>
        <div style="height: max-content;padding-top: 3rem;">
          <p class="contact-email">
            <a href="https://mail.google.com/mail/u/0/?source=mailto&to=2222dementieva@gmail.com&fs=1&tf=cm"
               target="_blank"><u>2222dementieva@gmail.com</u></a>
          </p>
          <p class="elsewhere">Find me elsewhere:</p>
          <div class="elsewhere-link">
            <a href="https://github.com/AnastasiiaDem" target="_blank"><u>GitHub</u></a>
            <a href="https://www.linkedin.com/in/anastasiia-dementieva-842a75203" target="_blank"><u>LinkedIn</u></a>
            <a href="https://www.instagram.com/anastasiiadementyeva" target="_blank"><u>Instagram</u></a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <footer class="footer">
    <p>Copyright © 2023 Anastasiia Dementieva. All rights reserved.</p>
  </footer>
</ng-container>
