a {
  text-decoration: none;
  color: var(--text-color);
}

p {
  margin: 0;
}

.home, .about, .project-list {
  min-height: 600px;
}

.contact {
  min-height: 500px;
}

.main-block {
  .look {
    position: absolute;
    top: 130px;
    left: 685px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    background: var(--text-color);
    width: 147px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 36px;
    border: 1px solid rgba(0, 0, 0, 0.10);

    p {
      background: linear-gradient(to right, rgba(153, 185, 238, 1), rgba(139, 147, 248, 1), rgba(142, 124, 241, 1), rgba(156, 119, 224, 1), rgba(161, 117, 218, 1), rgba(172, 116, 206, 1), rgba(187, 115, 189, 1), rgba(203, 115, 172, 1), rgba(215, 114, 156, 1), rgba(234, 114, 137, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .look2 {
    z-index: -1;
    filter: blur(3px);
    background: linear-gradient(to right, rgba(153, 185, 238, 1), rgba(139, 147, 248, 1), rgba(142, 124, 241, 1), rgba(156, 119, 224, 1), rgba(161, 117, 218, 1), rgba(172, 116, 206, 1), rgba(187, 115, 189, 1), rgba(203, 115, 172, 1), rgba(215, 114, 156, 1), rgba(234, 114, 137, 1));
  }

  .arrow {
    position: absolute;
    top: 90px;
    left: 715px;
    height: 44.721px;
  }

  .right-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    right: 5%;
  }

  .hi-container {
    position: absolute;
    top: 200px;
    left: 10%;

    .hi {
      font-size: 55px;
      font-weight: 700;
      line-height: 70px;
      color: var(--text-color);
    }

    .sub-hi {
      text-align: right;
      font-size: 35px;
      line-height: 50px;
      color: var(--text-color);
    }
  }

  .based {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);

    img {
      height: 16px;
      width: 16px;
    }

    span {
      font-size: 18px;
    }
  }

  .originally {
    display: flex;
    align-items: baseline;
    opacity: 0.3;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);

    img {
      height: 12px;
    }

    span {
      font-size: 14px;
    }
  }

  .emoji {
    height: 300px;
    width: 300px;
    object-fit: cover;
    z-index: -2;
  }

  .dark-emoji {
    transform: rotate(270deg);
    background-color: transparent !important;
  }

  .about {
    overflow: hidden;
    position: relative;
    padding: 10rem 0;

    .about-heading {
      color: var(--text-color);
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      width: max-content;
      white-space: nowrap;
      -webkit-text-stroke-color: var(--text-color);
      -webkit-text-stroke-width: 1px;
      transition: all 0.5s ease-in-out;

      span {
        color: var(--text-color);
        opacity: 0.4;
        width: max-content;
        white-space: nowrap;
        transition: all 0.5s ease-in-out;
      }
    }


    .about-heading:hover {
      color: var(--bg-color);
      opacity: 0.2;
      -webkit-text-stroke-width: 2px;

      span {
        color: var(--bg-color);
        opacity: 1;
        -webkit-text-stroke-width: 2px;
      }
    }

    .about-heading:nth-of-type(odd), .about-heading:nth-of-type(odd) span {
      transform: rotateX(180deg);
      color: var(--bg-color);
      opacity: 0.2;
      -webkit-text-stroke-width: 2px;
      transition: all 0.5s ease-in-out;
    }

    .about-heading:nth-of-type(odd):hover {
      color: var(--text-color);
      opacity: 1;
      -webkit-text-stroke-color: var(--text-color);
      -webkit-text-stroke-width: 1px;

      span {
        color: var(--text-color);
        opacity: 1;
        -webkit-text-stroke-color: var(--text-color);
        -webkit-text-stroke-width: 1px;
      }
    }

    .about-heading:nth-of-type(odd) span {
      opacity: 1;
    }

    .sliding-block {
      height: 40px;
      width: 100%;
      margin: 0;
      overflow: hidden;
      position: relative;

      .slide-track {
        display: flex;
        animation: slide 800s linear infinite;
        width: max-content;
        gap: 20px;
      }

      .slide-track2 {
        animation: slide 900s linear infinite;
      }
    }


    .about-text {
      font-size: 18px;
      padding: 0 10rem 5rem 10rem;
      color: var(--text-color);
      font-weight: 600;
      line-height: 30px;

      .yellow-stroke {
        border: 2px dotted #ffd800;
        background: transparent;
        padding: 3px 9px;
        border-radius: 20px;
        color: var(--text-color);
      }
    }

    .about-undertext {
      font-size: 14px;
      font-weight: 400;
      padding: 0 5rem;
      opacity: 0.6;
      line-height: 25px;
    }
  }

  .project-list {
    position: relative;
    padding: 10rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }
}

.contact {
  position: relative;
  padding-top: 60px;

  .contact-title {
    text-align: center;
    color: var(--text-color);
    font-size: 55px;
    font-weight: 900;
  }

  .contact-image {
    height: 250px;
    width: 250px;
  }

  .contact-cv {
    text-align: center;
    padding: 17px 0;
    color: var(--text-color);
  }

  .contact-container {
    .contact-email {
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      padding-bottom: 20px;
      font-family: Thunder, sans-serif;
    }

    .color-block {
      position: absolute;
      height: 300px;
      width: 300px;
      opacity: 1;
      z-index: -1;
    }

    .contact-emoji {
      position: absolute;
      height: 250px;
    }

    .elsewhere {
      font-size: 20px;
      color: var(--text-color);
    }

    .elsewhere-link {
      font-size: 18px;
      text-decoration-line: underline;
      display: flex;
      right: 355px;
      flex-direction: column;
      padding-top: 10px;
    }
  }
}

@media (max-width: 480px) {
  .about-text {
    font-size: 14px !important;
    padding: 2rem 4rem !important;
    line-height: 25px !important;

    .yellow-stroke {
      padding: 2px 4px !important;
      border-radius: 20px !important;
    }
  }
  .about-undertext {
    line-height: 18px !important;
    padding: 0 2rem !important;
  }
  .hi {
    font-size: 35px !important;
    line-height: 25px !important;
  }
  .sub-hi {
    font-size: 20px !important;
  }
  .emoji {
    height: 250px !important;
    width: 250px !important;
  }
  .based {
    font-size: 14px !important;

    img {
      height: 14px !important;
      width: 14px !important;
    }

    span {
      font-size: 16px !important;
    }
  }
  .originally {
    font-size: 11px !important;

    img {
      height: 11px !important;
    }

    span {
      font-size: 13px !important;
    }
  }
  .right-container {
    top: 270px !important;
  }
  .contact-title {
    font-size: 45px !important;
  }
  .contact-container {
    flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .right-container {
    top: 250px !important;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .right-container {
    top: 250px !important;
  }
}
