a {
  text-decoration: none;
  color: var(--text-color);
}

p {
  margin: 0;
}

.home, .about {
  min-height: 100vh;
}

.project-list {
  min-height: 100vh;
}

.contact {
  min-height: calc(100vh - 60px);
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255 255 255 / 1%);
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 96px;
  z-index: 2;
}

.name {
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  font-family: Thunder, sans-serif;
  letter-spacing: -1px;
  color: var(--text-color);
}

.social {
  display: flex;
  height: 18px;
  align-items: center;
  gap: 10px;

  a, svg {
    height: 18px;
  }

  svg {
    stroke: var(--text-color);
  }

  .theme-toggle {
    border: 1px solid var(--text-color);
    border-radius: 20px;
    height: 20px;
    width: 20px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 15px;
      fill: #091450;
      stroke: #091450;
      transition: all 1s ease-in-out;
    }
  }

  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 39px;
    height: 23px;
    margin: 0;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    box-shadow: 0 0 10px -2px var(--text-color);
    transition: .5s;
    border-radius: 30px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    box-shadow: inset 5px -2px 0px 0px #0056B9;
    transition: .5s;
  }

  input:checked + .slider {
    background-color: #ffffff;
  }

  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #ffd800;
  }
}

.floating-indicator {
  position: absolute;
  width: 112px;
  height: 44px;
  border-radius: 230px;
  background-color: var(--indicator-color);
}

.navbar {
  display: flex;
  padding: 4px;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 56px;
  background-color: #fff;
  box-shadow: 0 10px 10px -5px rgb(0 0 0 / 10%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .nav-item {
    display: flex;
    width: 112px;
    height: 44px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 230px;
    z-index: 1;
  }

  a {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    transition: all 0.5s ease-in-out;
  }
}

.main-block {
  .look {
    position: absolute;
    top: 130px;
    left: 685px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    background: var(--text-color);
    width: 147px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 36px;
    border: 1px solid rgba(0, 0, 0, 0.10);

    p {
      background: linear-gradient(to right, rgba(153, 185, 238, 1), rgba(139, 147, 248, 1), rgba(142, 124, 241, 1), rgba(156, 119, 224, 1), rgba(161, 117, 218, 1), rgba(172, 116, 206, 1), rgba(187, 115, 189, 1), rgba(203, 115, 172, 1), rgba(215, 114, 156, 1), rgba(234, 114, 137, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .look2 {
    z-index: -1;
    filter: blur(3px);
    background: linear-gradient(to right, rgba(153, 185, 238, 1), rgba(139, 147, 248, 1), rgba(142, 124, 241, 1), rgba(156, 119, 224, 1), rgba(161, 117, 218, 1), rgba(172, 116, 206, 1), rgba(187, 115, 189, 1), rgba(203, 115, 172, 1), rgba(215, 114, 156, 1), rgba(234, 114, 137, 1));
  }

  .arrow {
    position: absolute;
    top: 90px;
    left: 715px;
    height: 44.721px;
  }

  .hi {
    position: absolute;
    top: 216px;
    left: 88px;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    color: var(--text-color);
  }

  .sub-hi {
    position: absolute;
    top: 286px;
    left: 236px;
    text-align: right;
    font-size: 35px;
    line-height: 50px;
    color: var(--text-color);
  }

  .based {
    position: absolute;
    top: 432px;
    right: 117px;
    display: flex;
    align-items: baseline;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
  }

  .originally {
    position: absolute;
    top: 456px;
    right: 120px;
    display: flex;
    align-items: baseline;
    opacity: 0.3;
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
  }

  .emoji {
    position: absolute;
    top: 110px;
    right: 50px;
    height: 300px;
    z-index: -2;
  }

  .dark-emoji {
    right: 87px;
    height: 373px;
    top: 73px;
    transform: rotate(270deg);
    background-color: transparent !important;
  }

  .about {
    position: relative;
    padding-top: 120px;
    overflow-x: hidden;

    .about-heading {
      color: var(--text-color);
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      width: max-content;
      padding-right: 10px;
      white-space: nowrap;

      span {
        color: var(--text-color);
        opacity: 0.4;
        width: max-content;
        white-space: nowrap;
      }
    }

    .about-heading:nth-of-type(odd), .about-heading:nth-of-type(odd) span {
      transform: rotateX(180deg);
      color: var(--bg-color);
      opacity: 0.4;
      -webkit-text-stroke-color: var(--text-color);
      -webkit-text-stroke-width: 1px;
    }

    .about-heading:nth-of-type(odd) span {
      opacity: 1;
    }

    .about-line {
      white-space: nowrap;
      transition: animation 1s ease-in-out;
      animation: sliding 14s linear infinite;
    }

    .about-text {
      font-size: 18px;
      padding: 0 4rem;
      color: var(--text-color);
      font-weight: 500;

      .yellow-stroke {
        border: 2px dotted #ffd800;
        background: transparent;
        padding: 3px 9px;
        border-radius: 20px;
        color: var(--text-color);
      }
    }
  }

  .project-list {
    position: relative;
    padding-top: 120px;

    .project {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;

      .desc-title {
        font-size: 2rem;
        font-weight: 800;
        line-height: normal;
        color: var(--text-color);
      }

      .desc-undertext {
        font-weight: 500;
        color: var(--text-color);
        opacity: 0.3;
      }
    }
  }
}

.contact {
  position: relative;
  padding-top: 60px;

  .contact-title {
    text-align: center;
    color: var(--text-color);
    font-size: 55px;
    font-weight: 900;
  }

  .contact-image {
    position: absolute;
    top: 176px;
    left: 239px;
  }

  .contact-cv {
    text-align: center;
    padding: 17px 0;
    color: var(--text-color);
  }

  .contact-email {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: right;
    padding: 30px 180px 20px 0;
    font-family: Thunder, sans-serif;
  }

  .color-block {
    position: absolute;
    height: 300px;
    width: 300px;
    opacity: 1;
    z-index: -1;
  }

  .contact-emoji {
    position: absolute;
    height: 250px;
  }

  .elsewhere {
    text-align: right;
    padding: 0 256px;
    font-size: 20px;
    color: var(--text-color);
  }

  .elsewhere-link {
    font-size: 18px;
    text-decoration-line: underline;
    position: absolute;
    display: flex;
    right: 355px;
    flex-direction: column;
    padding-top: 10px;
  }
}

.tooltip {
  width: max-content;
  background-color: var(--text-color);
  color: var(--bg-color);
  font-weight: 500;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-size: 12px;
  position: absolute;
  top: -30px;
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f0f1f2 transparent transparent transparent;
}

.social a {
  position: relative;
}

.social a:hover .tooltip {
  opacity: 1;
}

.project-block {
  padding: 3rem 2rem;
  background: rgb(156 163 175 / 10%);
}

.mac {
  transition: all 1s cubic-bezier(0.18, 0.89, 0.5, 1.5);
  cursor: pointer;
  position: relative;

  &:hover {
    transform: scale(1.05);
  }

  img {
    height: 300px;
  }

  .eye-icon {
    filter: none !important;
    height: 20px;
    width: 20px;
  }
}

.screenshot-block {
  opacity: 0;
  background: rgb(255 255 255 / 10%);
  backdrop-filter: blur(3px);
  width: 437px;
  height: 300px;
  position: absolute;
  top: 0;
  padding: 20px 0;
  transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.screenshots {
  opacity: 0;
  height: 10px;
  width: 10px;
  background: rgb(17 24 39 / 20%);
  position: absolute;
  top: 130px;
  left: 180px;
  z-index: 2;
  border-radius: 50%;
}

.screenshots2 {
  height: 35px;
  width: 35px;
  background: rgb(17 24 39 / 10%);
  top: 117px;
  left: 167px;
}

.screenshots:before,
.screenshots:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(17 24 39 / 30%);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.7;
}

.screenshots:before {
  animation: pulse 2s ease-out infinite;
}

.screenshots:after {
  animation: pulse 2s 1s ease-out infinite;
}

.mac:hover .screenshot-block, .mac:hover .screenshots, .mac:hover .details {
  opacity: 1;
}

.mac:hover img {
  filter: blur(2px);
}

.details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 300;
  opacity: 0;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}


@media (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1440px) {

}
