a {
  text-decoration: none;
  color: var(--text-color);
}

p {
  margin: 0;
}

.home, .about, .project-list {
  min-height: 100vh;
}

.home-block {
  position: absolute;
  top: calc(50% + 48px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.msg-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  //position: absolute;
  //top: 30%;
  //left: 25%;
  z-index: 1;
  //transform: translate(-25%, -30%);

  //margin: 3rem -3rem 0 0;
}

.home-container {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  align-items: center;
  display: flex;
}

.contact {
  min-height: 500px;
}

.main-block {
  overflow-x: hidden;

  .msg {
    height: 40px;
  }

  .emoji {
    height: 100%;
    max-width: 100vw;
    object-fit: cover;
    z-index: -2;
    overflow: hidden;
  }

  .dark-emoji {
    //transform: rotate(270deg);
    //background-color: transparent !important;
  }

  .about {
    overflow: hidden;
    position: relative;
    padding: 10rem 0;

    .about-heading {
      color: var(--text-color);
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      width: max-content;
      white-space: nowrap;
      -webkit-text-stroke-color: var(--text-color);
      -webkit-text-stroke-width: 1px;
      transition: all 0.5s ease-in-out;

      span {
        color: var(--text-color);
        opacity: 0.4;
        width: max-content;
        white-space: nowrap;
        transition: all 0.5s ease-in-out;
      }
    }


    .about-heading:hover {
      color: var(--bg-color);
      opacity: 0.2;
      -webkit-text-stroke-width: 2px;

      span {
        color: var(--bg-color);
        opacity: 1;
        -webkit-text-stroke-width: 2px;
      }
    }

    .about-heading:nth-of-type(odd), .about-heading:nth-of-type(odd) span {
      transform: rotateX(180deg);
      color: var(--bg-color);
      opacity: 0.2;
      -webkit-text-stroke-width: 2px;
      transition: all 0.5s ease-in-out;
    }

    .about-heading:nth-of-type(odd):hover {
      color: var(--text-color);
      opacity: 1;
      -webkit-text-stroke-color: var(--text-color);
      -webkit-text-stroke-width: 1px;

      span {
        color: var(--text-color);
        opacity: 1;
        -webkit-text-stroke-color: var(--text-color);
        -webkit-text-stroke-width: 1px;
      }
    }

    .about-heading:nth-of-type(odd) span {
      opacity: 1;
    }

    .sliding-block {
      height: 40px;
      width: 100%;
      margin: 0;
      overflow: hidden;
      position: relative;

      .slide-track {
        display: flex;
        animation: slide 800s linear infinite;
        width: max-content;
        gap: 20px;
      }

      .slide-track2 {
        animation: slide 900s linear infinite;
      }
    }


    .about-text {
      font-size: 18px;
      padding: 0 10rem 5rem 10rem;
      color: var(--text-color);
      font-weight: 600;
      line-height: 30px;

      .yellow-stroke {
        border: 2px dotted #ffd800;
        background: transparent;
        padding: 3px 9px;
        border-radius: 20px;
        color: var(--text-color);
      }
    }

    .about-undertext {
      font-size: 14px;
      font-weight: 400;
      padding: 0 5rem;
      opacity: 0.6;
      line-height: 25px;
    }
  }

  .project-list {
    position: relative;
    padding: 10rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }
}

.contact {
  position: relative;
  padding-top: 60px;

  .contact-title {
    text-align: center;
    color: var(--text-color);
    font-size: 55px;
    font-weight: 900;
  }

  .contact-cv {
    text-align: center;
    padding: 17px 0;
    color: var(--text-color);
  }

  .contact-email {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 20px;
    font-family: Thunder, sans-serif;
  }

  .color-block {
    position: absolute;
    height: 300px;
    width: 300px;
    opacity: 1;
    z-index: -1;
  }

  .contact-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;

    .contact-image {
      height: 250px;
      width: 250px;
    }

    .contact-emoji {
      position: absolute;
      height: 250px;
    }

    .elsewhere-link {
      a:hover {
        text-decoration-line: underline;
      }

      width: fit-content;
      font-size: 18px;
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 480px) {
  .project-list {
    padding: 10rem 1rem !important;
  }
  .about-text {
    font-size: 14px !important;
    padding: 2rem 4rem !important;
    line-height: 25px !important;

    .yellow-stroke {
      padding: 2px 4px !important;
      border-radius: 20px !important;
    }
  }
  .about-undertext {
    line-height: 18px !important;
    padding: 0 2rem !important;
  }
  .hi {
    font-size: 35px !important;
    line-height: 25px !important;
  }
  .sub-hi {
    font-size: 20px !important;
  }
  .contact-title {
    font-size: 45px !important;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-block {
    flex-direction: column;
  }
  .home-block {
    top: calc(50% + 78px);
    flex-direction: column;
    align-items: center;
  }
}
