<header>
  <span id="home"></span>
  <div class="header-block">
    <p class="name">ANASTASIIA DEMENTIEVA</p>
    <nav class="navbar">
      <a href="#" class="floating-indicator w-inline-block"
         [style.transform]="!!x ? 'translateX(' + x + '00%)' : 'translateX(' + 0 + '%)'"></a>
      <a href="#home" (click)="translate(0)" class="nav-item"
         [style.color]="x == 0 ? '#111827' : 'rgba(17, 24, 39, 0.50)'">Home</a>
      <a href="#about" (click)="translate(1)" class="nav-item"
         [style.color]="x == 1 ? '#111827' : 'rgba(17, 24, 39, 0.50)'">About</a>
      <a href="#projects" (click)="translate(2)" class="nav-item"
         [style.color]="x == 2 ? '#111827' : 'rgba(17, 24, 39, 0.50)'">Projects</a>
      <a href="#contact" (click)="translate(3)" class="nav-item"
         [style.color]="x == 3 ? '#111827' : 'rgba(17, 24, 39, 0.50)'">Contact</a>
    </nav>
    <div class="social">
      <a target="_blank" href="https://www.instagram.com/anastasiiadementyeva">
        <span class="tooltip" style="right: -24px;">Instagram</span>
        <img src="./assets/images/insta.svg" alt="instagram">
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/anastasiia-dementieva-842a75203">
        <span class="tooltip" style="right: -20px;">LinkedIn</span>
        <img src="./assets/images/linkedin.svg" alt="linkedin">
      </a>
      <a target="_blank" href="https://github.com/AnastasiiaDem">
        <span class="tooltip" style="right: -15px;">GitHub</span>
        <img src="./assets/images/github.svg" alt="github">
      </a>
      <a target="_blank" href="https://mail.google.com/mail/u/0/?source=mailto&to=2222dementieva@gmail.com&fs=1&tf=cm">
        <span class="tooltip" style="right: -8px;">Email</span>
        <img src="./assets/images/email.svg" alt="email">
      </a>
      <a target="_blank" href="./assets/Дементьєва%20Анастасія.pdf">
        <span class="tooltip">CV</span>
        <img src="./assets/images/cv.svg" alt="cv">
      </a>
    </div>
  </div>
</header>
<div class="main-block">
  <div class="home">
    <!--    <img src="./assets/images/arrow.svg" alt="arrow" class="arrow">-->
    <!--    <img src="./assets/images/arrow%20Color.svg" alt="arrow" class="arrow" style="z-index: -1;filter: blur(3px);">-->
    <!--    <div class="look"><p>look at my projects</p></div>-->
    <!--    <div class="look look2"></div>-->
    <p class="hi">Hi, I’m Anastasiia</p>
    <p class="sub-hi">Angular Front-End Developer</p>
    <p class="based">
      <img src="./assets/images/Round%20Pushpin.svg" alt="pushpin" style="height: 16px">
      based in <span style="font-size: 18px;">&nbsp;Charlotte, NC</span>
    </p>
    <p class="originally">
      originally from <span style="font-size: 14px;">&nbsp;Kyiv, Ukraine&nbsp;</span>
      <img src="./assets/images/Flag%20Ukraine.svg" alt="flag ukraine" style="height: 12px">
    </p>
    <!--    <img src="./assets/images/color%20radians.svg" alt="color radians" id="pointer" class="color-block">-->
    <img src="./assets/images/memoji_modified.gif" alt="emoji" class="emoji">
  </div>
  <div id="about" class="about">
    <p class="text1">
      Welcome to my portfolio! I am a passionate creator with a Bachelor's degree in Computer Science. I develop
      dynamic and user-friendly web applications and pay special attention to creating visually appealing websites. With
      a <u>meticulous eye for details</u>, I focus on every pixel to create a visually appealing app that delivers an
      exceptional web experience.
      <br><b>Take a look at my projects!</b>
    </p>
    <p class="text2">
      I began my programming journey during high school, where I chose a physical and mathematical course. In
      university, I decided to continue to challenge myself and went to study computer science. There I gained
      experience in various programming languages such as C/C++, Python, Java, JavaScript, HTML, and CSS <img
      src="./assets/images/Woman%20Technologist%20Medium%20Skin%20Tone.png" alt="monkey">.
      <br>I applied for an Angular developer position during my second year and was hired as an intern. Despite the
      challenges, I quickly adapted to the new environment, learned fast, and processed a lot of info everyday. My
      efforts were noticed quickly and I grew a lot thanks to the projects I worked on and my colleagues who were always
      helpful <img src="./assets/images/Folded%20Hands%20Medium%20Light%20Skin%20Tone.png" alt="hands">. Within a few
      months, I fully controlled a multi-functional project, scaled up the functionality of the
      platform and optimized it.
      <br>However, balancing work and education became difficult in my fourth year, leading me to leave the company.
      During
      that year, I created the Taskery app as my final university project. Now, with a bachelor's degree, I am eager to
      return to large projects and teamwork, using my skills and knowledge <img
      src="./assets/images/Grinning%20Face%20With%20Smiling%20Eyes.png" alt="smile">.
    </p>
  </div>
  <div id="projects" class="project-list">
    <div class="project">
      <div class="mac">
        <img src="./assets/images/taskery%20mac.png" alt="taskery">
        <div class="screenshot-block">
          <div class="screenshots"></div>
          <div class="screenshots screenshots2"></div>
        </div>
        <!--        <div class="screenshots"><img src="./assets/images/hover2.svg" alt="hover"></div>-->
      </div>
      <div class="description">
        <p class="title"><img src="./assets/images/taskery%20logo.png" alt="taskery logo" style="height: 18px"> TASKERY
        </p>
        <p class="desc-text">This project is a web-based application designed to help users manage and control their
          project tasks.
          <br>It provides a user-friendly interface in English and Ukrainian to plan, execute, and monitor tasks and
          projects. Key features include user authentication, creating and describing projects using artificial
          intelligence, tracking project and task statuses, generating reports, and viewing the calendar. The project
          aims to improve the user experience, simplify workflow organization, improve communication and team
          productivity, and ensure the quality of tasks and deadlines.</p>
        <div class="tech">
          <p>Angular</p>
          <p>Typescript</p>
          <p>SCSS</p>
          <p>Node.js</p>
          <p>MongoDB</p>
        </div>
        <div class="btn-group">
          <a href="https://github.com/AnastasiiaDem/Taskery2" target="_blank">
            <div class="btn">code<img src="./assets/images/github.svg" style="height: 12px;" alt=""></div>
          </a>
          <a href="https://taskery2.vercel.app/" target="_blank">
            <div class="btn">website<img src="./assets/images/top-arrow.svg"
                                         style="height: 12px;position: absolute;top: 5px;right: 5px;" alt=""></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="contact" class="contact">
    <p class="contact-title">Get in touch</p>
    <p class="contact-cv">View my <a href="./assets/Дементьєва%20Анастасія.pdf" target="_blank"><u>CV</u></a></p>
    <div style="position: relative;top: 0;right: 0;">
      <p class="contact-email"><a
        href="https://mail.google.com/mail/u/0/?source=mailto&to=2222dementieva@gmail.com&fs=1&tf=cm" target="_blank">2222dementieva@gmail.com</a>
      </p>
      <p class="elsewhere">Find me elsewhere:</p>
      <div class="elsewhere-link">
        <a href="https://www.linkedin.com/in/anastasiia-dementieva-842a75203" target="_blank">LinkedIn</a>
        <a href="https://github.com/AnastasiiaDem" target="_blank">GitHub</a>
        <a href="https://www.instagram.com/anastasiiadementyeva" target="_blank">Instagram</a>
      </div>
    </div>
    <div class="contact-image">
      <img src="./assets/images/color%20radians.svg" alt="color radians" id="pointer" class="color-block">
      <img src="./assets/images/f96b99d56c1652f1050f9acd924e18d7-sticker.png" alt="contact-emoji" class="contact-emoji">
    </div>
  </div>
</div>
<footer class="footer">
  <p>Copyright © 2023 Anastasiia Dementieva. All rights reserved.</p>
</footer>
