.fullscreen {
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0;
  transition: all 1s ease-in-out;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 130px;
  }
}

.text {
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Thunder, sans-serif;
  font-size: 14px;
  fill: var(--text-color);
}

.rotatingText {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
