* {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  overflow-x: hidden;
  background: var(--bg-color);
}

:root {
  --bg-color: #fff;
  --text-color: #212529;
  --text-pale-color: rgba(17, 24, 39, 0.50);
  --indicator-color: #f2f2f2;
  --footer-color: rgb(242 242 242 / 80%);
}

[data-theme="dark"] {
  --bg-color: #141414;
  --text-color: #ffffff;
  --indicator-color: #141414;
  --footer-color: rgb(255 255 255 / 1%);
}

::-webkit-scrollbar {
  width: 6px;
  /*width: 0;*/
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 50%);
  border-radius: 9999px;
}

@font-face {
  font-family: 'Thunder';
  src: url('./assets/fonts/Thunder-ExtraBoldLC.otf') format('otf');
}

@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes sliding {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }
}
