.photo-stack {
  width: calc(100vw - 20%) !important;
}

.photo4,
.photo5 {
  max-width: 48%;
}

.photo10 {
  width: 70% !important;
}

@media (min-width: 481px) and (max-width: 768px) {
  .photo4,
  .photo5 {
    width: 80% !important;
    max-width: unset;
  }
  .photo10 {
    width: 100% !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .photo10 {
    width: 70% !important;
  }
}

@media (max-width: 480px) {
  .photo4,
  .photo5 {
    width: 100% !important;
    max-width: unset;
  }
}
